.sticky {
	.logo {
		padding-left: 10px;
		position: fixed;
		z-index: 900;
	}
	nav {
		position: fixed;
		justify-content: flex-end;
		width: 100vw;
		padding-right: 30px;
		z-index: 800;
		background-color: $dark-gray;
		margin-right: 50px; 
		a {
			padding: 10px; 
			margin: 0 5px;
			border-radius: 5px;
			color: $dark-gray;
			background-color: $mango;
			transition: background-color 0.2s ease;
			&:hover {
				background-color: $orange;
			}
		}
	}
}